<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oauth2 Manual Testing</title>
</head>
<body>
<div>
    <a href="http://localhost:8080/api/v1/security/login/oauth2?registrationId=google" role="button">Goggle Login</a> <br />
    <span th:text="${user}" />
</div>
<div>
    <a href="http://localhost:8080/api/v1/security/login/oauth2?registrationId=kakao" role="button">Kakao Login</a> <br />
    <span th:text="${user}" />
</div>
<div>
    <a href="http://localhost:8080/api/v1/test/logout" role="button">Logout</a>
</div>
</body>
</html>